body {
    background: url("assets/galaxy.jpg");
     
    width: 100%;
    
}

.row {
    margin-top:100px;
}
h1{
    font-family: 'Montserrat', sans-serif; 
    color: rgba(255, 255, 255, 0.89);
}

h5{
    color: white;
    font-family: 'Hind Vadodara', sans-serif;
}



#title{
    text-align:center;
    margin-top: 50px;
    
}

#rocket {
    margin-top: 200px;
    margin-left: 500px;
    animation: 10s slide-up;
  margin-top:0%;
  animation-fill-mode: forwards;
}

.information {
    text-align:center
}

@keyframes slide-up {
    from {
      margin-top: 300px;
      height: 100%; 
    }
  
    to {
      margin-top: 50px;
      height: 100%;
    }
  }



