body {
    background: url("assets/galaxy.jpg");
     
    width: 100%;
    
}

.container-fluid{
  width: 100%
}

.row {
    margin-top:100px;
}
h1{
    font-family: 'Montserrat', sans-serif; 
    color: rgba(255, 255, 255, 0.89);
}

h5,h6{
    color: white;
    font-family: 'Hind Vadodara', sans-serif;
}

#logo{
  width: 100px;

}

#title{
    text-align:center;
    margin-top: 50px;
    
}

#rocket {
    margin-top: 200px;
    margin-left: 500px;
}

.information {
    text-align:center
}

.buttonForInfo{
  margin-left:40px;
}


button{
  background-color: white;
  color: black;
  border: 1px;
  border-radius:28px;
  font-family: 'Hind Vadodara', sans-serif;
  

}

button:hover {
  background-color: rgb(8, 22, 59);
  color: white;
}


